{{ pageAddAsset('javascript', zasset('@ZikulaAdminModule:js/ZikulaAdminModule.SystemNotices.js')) }}
{#<div class="clearfix hidden-xs" style="margin-top:20px;">
</div>#}
{#{{ adminMenu('categories') }}#}
{#{{ showflashes() }}
{{ adminSecurityAnalyzer() }}
{{ adminDeveloperNotices() }}
{{ adminUpdateCheck() }}#}

{{ moduleHeader('admin', '', '', false, false, false, true) }}
<div class="z-admin-content clearfix">
